#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]
{{ db_maria_mysql_extensions }}

[mysql_upgrade]
{{ db_maria_mysql_upgrade_extensions }}

[mysqladmin]
{{ db_maria_mysqladmin_extensions }}

[mysqlbinlog]
{{ db_maria_mysqlbinlog_extensions }}

[mysqlcheck]
{{ db_maria_mysqlcheck_extensions }}

[mysqldump]
{{ db_maria_mysqldump_extensions }}

[mysqlimport]
{{ db_maria_mysqlimport_extensions }}

[mysqlshow]
{{ db_maria_mysqlshow_extensions }}

[mysqlslap]
{{ db_maria_mysqlslap_extensions }}
